---
import "@fontsource/rye";
---

<section id="sectionSobreNosotros-home" class="bg-app-primary py-16 px-4">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-center md:space-x-8"
  >
    <!-- Imagen de la izquierda -->
    <div
      class="w-full md:w-1/3 lg:w-1/4 mb-8 md:mb-0 flex justify-center md:justify-start"
    >
      <img
        src="/home/sobre_nosotros/img2.webp"
        alt="Barbería"
        class="w-full rounded-lg shadow-md"
      />
    </div>

    <!-- Contenido de texto de la derecha -->
    <div
      class="w-full md:w-1/2 text-app-terciary flex flex-col items-center md:items-start text-center md:text-left"
    >
      <h2 class="text-2xl uppercase tracking-widest rye-font mb-2">
        Sobre Nosotros
      </h2>
      <h2 class="text-3xl md:text-5xl font-bold italic mb-4">
        Somos una barbería dedicada a transformar
      </h2>
      <p class="text-lg font-bold mb-6">
        Ofreciendo servicios personalizados de alta calidad.
      </p>

      <!-- Lista de beneficios -->
      <ul class="list-disc pl-5 ">
        <li class="mb-2">
          Nuestro equipo de barberos profesionales está capacitado para
          brindarte una experiencia única y satisfactoria.
        </li>
        <li class="mb-2">
          Utilizamos los mejores productos para el cuidado del cabello,
          asegurando resultados e xcepcionales en cada visita.
        </li>
        <li class="mb-2">
          Descubre la diferencia con nuestros expertos y renueva tu look hoy
          mismo.
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .rye-font {
    font-family: "Rye", system-ui;
  }
</style>
